{% extends "base.html" %}
{% block title %}About{% endblock %}

  {% block content %}


<!-- Availability Section -->
<section id="avl" class="site">
   <div class="container">
        <div class="row">

       <div class="form-group col-md-12">
         <br>
         <br>
         <br>
         <br>
         <br>
         <div align="center">
           <h2>About UniCycle</h2>
           <h5>Our History</h5>
         <br>
         <br>
         <br>
         </div>
       </div>

       <div class="form-group col-md-10">
         <h5><b>How did it all start?</b></h5>
         <p>Once upon a time, in a big city called <b>Leeds</b>, there was <b>Mr.Hooch</b> who wanted to rent a bike.
             As a lazy student who had to travel all the way from <b>Headingly to Campus</b>, he wanted to make his life easier by <b>renting a bike.</b>
             However he couldn’t find a website which summed up all rentals available in the city.
            “How is this possible?” Mr.Hooch thought, “I have to make this a reality, that anyone can <b>rent a bike anywhere, anytime!</b>”.
             You guessed it right, that’s how <em><b>UniCylce</b></em> started! Mr. Hooch opended up a small bike rental business, and now he is Mr.Worldwide!
             </p>
          <br>
         <hr>
       </div>

       <div class="form-group col-md-2">
         <img src="../static/images/unicycle.jpg" alt="Unicycle logo" width="180" height="215" align="right">
       </div>

       <div class="form-group col-md-12">
         <h5><b>Who are we?</b></h5>
         <p> We are a team of students from the University of Leeds, under Mr.Hooch's management.
            This young, enthusiastic, and diverse team consists of <b>English, Dutch, South African, Indian and Korean</b> inviduals.
            We thrive to facilitate the people of Leeds in the comfort of travelling :) </p>
          <br>
         <hr>
       </div>



        <div class="form-group col-md-12">
          <h5><b>Daily Rental Prices</b></h5>
          <p>Book an <b>extra</b> day and get an extra <b>10p</b> off.  </p>
          <font size ="4">
          <table width="40%">
          <br>
          <tr>
          <th><font size ="4">&nbsp; Days</font></th>
          <th>Price</th>
          </tr>
          <tr>
          <td>1 Day</td>
          <td>£ 2.50</td>
          </tr>
          <tr>
          <td>2 Days</td>
          <td>£ 4.90</td>
          </tr>
          <tr>
          <td>3 Days</td>
          <td>£ 7.20</td>
          </tr>
          <tr>
          <td>4 Days</td>
          <td>£ 9.40</td>
          </tr>
          <tr>
          <td>5 days</td>
          <td>£ 11.50</td>
          </tr>
          <tr>
          <td>6 Days</td>
          <td>£ 13.50</td>
          </tr>
          <td>7 Days</td>
          <td>£ 15.40</td>
          </tr>
          </table>
          <br>
          <hr>




        </div>


      </div>

{% endblock %}
