{% extends "base.html" %}
{% block title %}Bike Availability{% endblock %}

  {% block content %}


<!-- Availability Section -->
<section id="avl" class="site">
   <div class="container">
     <form action ="" method="post" name="hireform">
       {{ form.hidden_tag() }}
        <div class="row">

       <div class="form-group col-md-12">
         <br>
         <br>
         <br>
         <br>
         <br>
         <div align="center">
           <h2>Check Bike Availability by Date and Time</h2>
           <h5>Enter a date, and the number of days you would like to book a bike. </h5>
         <br>
         <br>
         </div>
       </div>


        <div class="form-group col-md-5" >
          <label for="date">Start Date:</label><br>{{ form.Date }}
        </div>

        <div class="form-group col-md-5">
          <label for="time">Number of Days for Hire: </label><br>{{ form.HirePeriod }}
        </div>

        <div class="form-group col-md-2">
          <br>
          <input type="submit" class="btn btn-primary" value="Search Availability">
          <br>
          <br>
        </div>

      </div>
    </form>




<!----------------------------------------------------------------------------->

 <div class ="form-row">
   <div class="form-group col-md-12">
     <hr>
     <br>
   </div>
 </div>

 <div>
   {% with messages = get_flashed_messages() %}
     {% if messages %}
     <ul>
       {% for message in messages %}
         <li>{{ message }}</li>
       {% endfor %}
       {% endif %}
     </ul>
   {% endwith %}
 </div>

   <div class="container">
     <h2>Available Bikes</h2></div>
     <div class = "form-row">
       {% for location in availableLocations %}
         <h3>{{ location }}</h3>
         {% if location == 'University' %}
           {% for bike in uniBike %}
             <div class="form-group col-md-3">
               <div class="grid">
                 <img src="../static/images/bike1.jpg" alt="PRINT BIKE ID" width="250" height="200">
               </div>
               <div class="desc text-center">
                 <p>{{ bike }}</p>
               </div>
             </div>
             {% endfor %}
         {% endif %}
         {% if location == 'City' %}
           {% for bike in cityBike %}
             <div class="form-group col-md-3">
               <div class="grid">
                 <img src="../static/images/bike1.jpg" alt="PRINT BIKE ID" width="250" height="200">
               </div>
               <div class="desc text-center">
                 <p>{{ bike }}</p>
               </div>
             </div>
             {% endfor %}
         {% endif %}
         {% if location == 'Headingly' %}
           {% for bike in headingleyBike %}
             <div class="form-group col-md-3">
               <div class="grid">
                 <img src="../static/images/bike1.jpg" alt="PRINT BIKE ID" width="250" height="200">
               </div>
               <div class="desc text-center">
                 <p>{{ bike }}</p>
               </div>
             </div>
             {% endfor %}
         {% endif %}
           <div class="row"></div>
         {% endfor %}
     </div>

   </div>
</section>


{% endblock %}
