<!-- <img src="../static/images/logo.jpg" alt="Unicycle logo"> -->
<img src="https://user-images.githubusercontent.com/33334078/101516187-84d62f00-39c2-11eb-9e67-f8c634c4c9ad.jpg" alt="Unicycle logo">

<p>Dear {{ name }},</p>

<p>The receipt for your recent bicycle booking can be found below.</p>

<p>Start Date: {{ start }}<br>
End Date: {{ end }}<br>
Location: {{ location }}<br>
Bicycle Number: {{ bicycle }}<br>
Price: £{{ price }}</p>

<p>Please scan the QR code below when collecting your bicycle.</p>

<p>Thank you!</p>

<p>The UniCycle Team</p>

<img src="data:image/png;base64,{{ qr }}" alt="QR code">
