<img src="http://postfiles9.naver.net/MjAxOTAzMjhfMTk0/MDAxNTUzNzEzMTU4Mjc4.AFQSKeRZRPV6xpbisadFKp8BV9qAoSqZu2_FoJsZldIg.hXI4CEaRg0LsqqaF7T_rqCyFrgUghvrOR8qNs1WBJrMg.JPEG.kcl720/logo.jpg?type=w580" alt="Unicycle logo">

<p>Dear {{ name }},</p>

<p>The receipt for your recent bicycle booking can be found below.</p>

<p>Start Date: {{ start }}<br>
End Date: {{ end }}<br>
Location: {{ location }}<br>
Bicycle Number: {{ bicycle }}<br>
Price: £{{ price }}</p>

<p>Please scan the QR code below when collecting your bicycle.</p>

<p>Thank you!</p>

<p>The UniCycle Team</p>

<img src="data:image/png;base64,{{ qr }}" alt="QR code">
