{% extends "base.html" %}
{% block title %}Staff Login{% endblock %}

  {% block content %}

<!-- Login Section -->
<section id="login" class="site">
   <div class="container">
     <form action ="" method="post" name="login">
       {{ form.hidden_tag() }}

     <div class="row">

       <div class="form-group col-md-12">
         <br>
         <br>
         <br>
         <br>
         <br>
         <div align="center">
           <h2>Staff Login</h2>
           <h5>Login for admin and employees.</h5>
         <br>
         <br>
         </div>
       </div>


       <div class="form-group col-md-12">
         <div align="center">
         <label for="email">Username</label><br>{{ form.EmailAddress }}
         <br>
         <br>
         <label for="email">Password</label><br>{{ form.Password }}
         <br>
         <br>
         <br>
         </div>
         <div align="right">
           <input type="submit" class="btn btn-primary" value="Login">
         </div>
       </div>


        </div>
      </form>
   </div>
</section>

<div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      {% endif %}
    </ul>
  {% endwith %}
</div>


{% endblock %}
